@page "/editshowing/{showingId}"

@inject NavigationManager NavigationManager
@inject IViewScreeningRoomsUseCase ViewScreeningRoomsUseCase
@inject IViewMoviesUseCase ViewMoviesUseCase
@inject IGetShowingByIdUseCase GetShowingByIdUseCase
@inject IEditShowingUseCase EditShowingUseCase

<div class="content">

    <h3>Edytuj seans</h3>

    @if(showing != null)
    {
        <EditForm Model="showing" class="form-inline" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group">
                <label for="screeningRoom">Sala</label>
                <select id="screeningRoom" @bind="showing.ScreeningRoomId" class="form-control">
                    <option selected></option>
                    @foreach(var screeningRoom in screeningRooms)
                    {
                        <option value = "@screeningRoom.ScreeningRoomId">@screeningRoom.ScreeningRoomName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="movie">Film</label>
                <select id="movie" @bind="showing.MovieId" class="form-control">
                    <option selected></option>
                    @foreach(var movie in movies)
                    {
                        <option value = "@movie.MovieId">@movie.Title (@movie.Year)</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="date">Dubbing</label>
                <InputCheckbox id="dubbing" @bind-Value="showing.Dubbing"></InputCheckbox>
            </div>

            <div class="form-group">
                <label for="date">Data i godzina</label>
                <input type="datetime-local" id="date" @bind="showing.Date" class="form-control"></input>
            </div>

            <div class="form-group">
                <label for="ticketPrice">Cena biletu (zł)</label>
                <InputNumber id="ticketPrice" @bind-Value="showing.TicketPrice" @bind-Value:format="F2" class="form-control"></InputNumber>
            </div>

            <button type="submit" class="btn">Zapisz</button>
            <button type="button" class="btn" @onclick="OnCancel">Anuluj</button>
        </EditForm>
    }

</div>

@code 
{
    [Parameter]
    public string ShowingId { get; set; }

    private Showing showing;
    private IEnumerable<ScreeningRoom> screeningRooms;
    private IEnumerable<Movie> movies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        showing = new Showing();

        screeningRooms = ViewScreeningRoomsUseCase.Execute();
        movies = ViewMoviesUseCase.Execute();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if(int.TryParse(this.ShowingId, out int iShowingId))
        {
            var show = GetShowingByIdUseCase.Execute(iShowingId);
            this.showing = new Showing
                {
                    ShowingId = show.ShowingId,
                    ScreeningRoomId = show.ScreeningRoomId,
                    MovieId = show.MovieId,
                    Date = show.Date,
                    TicketPrice = show.TicketPrice,
                    Dubbing = show.Dubbing
                };
        }
    }

    private void OnValidSubmit()
    {
        EditShowingUseCase.Execute(this.showing);
        NavigationManager.NavigateTo("/manageshowings");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/manageshowings");
    }
}
