@page "/"

@inject IViewMoviesUseCase ViewMoviesUseCase

<PageTitle>Index</PageTitle>

<div class="main_page">

    <h1>Kino</h1>

    @if(movies != null)
    {
        <div class="center">
            <div class="row">

                <div style="padding: 0">
                    <button class="prev" @onclick="@(() => NextMovie())">&#10094;</button>
                </div>
                <div class="posters">
                    <div class="col" style="padding: 0">
                        <img src="@movies[0].ImageUrl" alt="@movies[0].Title" height="350">
                    </div>
                    <div class="col" style="padding: 0">
                        <img src="@movies[1].ImageUrl" alt="@movies[1].Title" height="350">
                    </div>
                    <div class="col" style="padding: 0">
                        <img src="@movies[2].ImageUrl" alt="@movies[2].Title" height="350">
                    </div>
                    <div class="col" style="padding: 0">
                        <img src="@movies[3].ImageUrl" alt="@movies[3].Title" height="350">
                    </div>
                    <div class="col" style="padding: 0">
                        <img src="@movies[4].ImageUrl" alt="@movies[4].Title" height="350">
                    </div>
                </div>
                <div class="col" style="padding: 0">
                    <button class="next" >&#10095;</button>
                </div>
            </div>
        </div>
    }

</div>

 @code
{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadMovies();
    }

    private void LoadMovies()
    {
        movies = ViewMoviesUseCase.Execute()?.ToList();
    }

    private void NextMovie()
    {
        
    }
 }


