@page "/"

@inject NavigationManager NavigationManager
@inject IViewMoviesUseCase ViewMoviesUseCase

<PageTitle>Index</PageTitle>

<div class="main_page">

    <h1>Kino</h1>

    @if(movies != null)
    {
        <div class="center">
            <div class="col" style="padding: 0 0 40px 0">
                <img src="NetKino.png" alt="Logo">
            </div>
            <div class="row2">
                <div style="padding: 0">
                    <button class="prev" @onclick="@(() => PreviousMovie(@postersIndex[4]))">&#10094;</button>
                </div>
                <div class="posters">
                    <div class="col2" style="padding: 0">
                        <div class="middle">
                            <div class="text">@movies[@postersIndex[0]].Title</div>
                        </div>
                        <img src="@movies[@postersIndex[0]].ImageUrl" alt="movies[@postersIndex[0]].Title" class="image" @onclick="@(() => VievShowingsId(movies[@postersIndex[0]].MovieId))">
                    </div>
                    <div class="col2" style="padding: 0">
                        <div class="middle">
                            <div class="text">@movies[@postersIndex[1]].Title</div>
                        </div>
                        <img src="@movies[@postersIndex[1]].ImageUrl" alt="@movies[@postersIndex[1]].Title" class="image" @onclick="@(() => VievShowingsId(movies[@postersIndex[1]].MovieId))">
                    </div>
                    <div class="col2" style="padding: 0">
                        <div class="middle">
                            <div class="text">@movies[@postersIndex[2]].Title</div>
                        </div>
                        <img src="@movies[@postersIndex[2]].ImageUrl" alt="@movies[@postersIndex[2]].Title" class="image" @onclick="@(() => VievShowingsId(movies[@postersIndex[2]].MovieId))">
                    </div>
                    <div class="col2" style="padding: 0">
                        <div class="middle">
                            <div class="text">@movies[@postersIndex[3]].Title</div>
                        </div>
                        <img src="@movies[@postersIndex[3]].ImageUrl" alt="@movies[@postersIndex[3]].Title" class="image" @onclick="@(() => VievShowingsId(movies[@postersIndex[3]].MovieId))">
                    </div>
                    <div class="col2" style="padding: 0">
                        <div class="middle">
                            <div class="text">@movies[@postersIndex[4]].Title</div>
                        </div>
                        <img src="@movies[@postersIndex[4]].ImageUrl" alt="@movies[@postersIndex[4]].Title" class="image" @onclick="@(() => VievShowingsId(movies[@postersIndex[4]].MovieId))">
                    </div>
                </div>
                <div class="col" style="padding: 0">
                    <button class="next" @onclick="@(() => NextMovie(@postersIndex[4]))">&#10095;</button>
                </div>
            </div>
            <div class="col" style="padding: 25px 0 0 0">
                <button class="WhatsOnButton" @onclick="@(() => WhatsOnClick())">Repertuar</button>
            </div>
        </div>
    }

</div>

 @code
{
    private List<Movie> movies;
    private List<int> postersIndex = new List<int>() { 0, 1, 2, 3, 4 };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadMovies();
    }

    private void LoadMovies()
    {
        movies = ViewMoviesUseCase.Execute()?.ToList();
    }

    private void NextMovie(int index)
    {

        if(index == movies.Count - 1)
        {
            postersIndex.RemoveAt(4);
            index = 0;
            postersIndex.Insert(0, index);
        }
        else
        {
            postersIndex.RemoveAt(4);
            index++;
            postersIndex.Insert(0, index);
        }
    }

    private void PreviousMovie(int index)
    {
        if(index == movies.Count - 1)
        {
            postersIndex.RemoveAt(0);
            index = 0;
            postersIndex.Insert(4, index);
        }
        else
        {
            postersIndex.RemoveAt(0);
            index++;
            postersIndex.Insert(4, index);
        }
    }

    private void WhatsOnClick()
    {
        NavigationManager.NavigateTo("/whatson");
    }

    private void VievShowingsId(int id)
    {
        NavigationManager.NavigateTo($"/viewshowings/{id}");
    }
 }


