@page "/managemovies"

@inject NavigationManager NavigationManager
@inject IViewMoviesUseCase ViewMoviesUseCase
@inject IDeleteMovieUseCase DeleteMovieUseCase

<h3>Zarządzanie filmami</h3>

<button type="button" @onclick="OnClickAddMovie" class="btn btn-primary">Dodaj film</button>
<br />

@if(movies != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Plakat</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Rok</th>
                <th>Długość</th>
                <th>Wiek</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in movies)
            {
                <tr>
                    <td><img src="@movie.ImageUrl" alt="@movie.Title"></td>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                    <td>@movie.Year</td>
                    <td>@movie.Length min.</td>
                    <td>@(movie.AgeRestriction)+</td>
                    <td><button type="button" @onclick="@(() => EditMovie(movie))" class="btn btn-primary">Edytuj</button></td>
                    <td><button type="button" @onclick="@(() => DeleteMovie(movie.MovieId))" class="btn btn-primary">Usuń</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code 
{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadMovies();
    }

    private void LoadMovies()
    {
        movies = ViewMoviesUseCase.Execute()?.ToList();
    }

    private void OnClickAddMovie()
    {
        NavigationManager.NavigateTo("/addmovie");
    }

    private void EditMovie(Movie movie)
    {
        NavigationManager.NavigateTo($"/editmovie/{movie.MovieId}");
    }

    private void DeleteMovie(int movieId)
    {
        DeleteMovieUseCase.Delete(movieId);
        LoadMovies();
    }
}
