@page "/managemovies"
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager
@inject IViewMoviesUseCase ViewMoviesUseCase
@inject IDeleteMovieUseCase DeleteMovieUseCase

<div class="content">

    <div class="text2 center">Zarządzanie filmami</div>

    <button type="button" @onclick="OnClickAddMovie" class="btn">Dodaj film</button>
    <br />
    <br />

    @if(movies != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Plakat</th>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Rok</th>
                    <th>Długość</th>
                    <th>Wiek</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var movie in movies)
                {
                    <tr class="table_row">
                        <td><img src="@movie.ImageUrl" alt="@movie.Title" height="150"></td>
                        <td>@movie.Title</td>
                        <td>@movie.Description</td>
                        <td>@movie.Year</td>
                        <td>@movie.Length min.</td>
                        <td>
                            @if(movie.AgeRestriction <= 6)
                            {
                                <span class="age3_6">@(movie.AgeRestriction)+</span>
                            }
                            else if(movie.AgeRestriction >= 7 && movie.AgeRestriction <= 14)
                            {
                                <span class="age7_14">@(movie.AgeRestriction)+</span>
                            }
                            else if(movie.AgeRestriction >= 15 && movie.AgeRestriction <= 17)
                            {
                                <span class="age15_17">@(movie.AgeRestriction)+</span>
                            }
                            else
                            {
                                <span class="age18">@(movie.AgeRestriction)+</span>
                            }
                        </td>
                        <td><button type="button" @onclick="@(() => EditMovie(movie))" class="btn">Edytuj</button></td>
                        <td><button type="button" @onclick="@(() => DeleteMovie(movie.MovieId))" class="btn">Usuń</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

@code 
{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadMovies();
    }

    private void LoadMovies()
    {
        movies = ViewMoviesUseCase.Execute()?.ToList();
    }

    private void OnClickAddMovie()
    {
        NavigationManager.NavigateTo("/addmovie");
    }

    private void EditMovie(Movie movie)
    {
        NavigationManager.NavigateTo($"/editmovie/{movie.MovieId}");
    }

    private void DeleteMovie(int movieId)
    {
        DeleteMovieUseCase.Delete(movieId);
        LoadMovies();
    }
}
