@page "/screeningrooms"

@inject NavigationManager NavigationManager
@inject IViewScreeningRoomsUseCase ViewScreeningRoomsUseCase
@inject IDeleteScreeningRoomUseCase DeleteScreeningRoomUseCase

<div class="content">

    <h3>Zarządzanie salami kinowymi</h3>

    @if(screeningRooms != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Sala</th>
                    <th>Liczba rzędów</th>
                    <th>Liczba foteli w rzędzie</th>
                    <th>Liczba miejsc</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var screeningRoom in screeningRooms)
                {
                    <tr>
                        <td>@screeningRoom.ScreeningRoomName</td>
                        <td>@screeningRoom.RowCount</td>
                        <td>@screeningRoom.ColumnCount</td>
                        <td>@(screeningRoom.ColumnCount * screeningRoom.RowCount)</td>
                        <td><button type="button" @onclick="@(() => EditScreeningRoom(screeningRoom))" class="btn btn-primary">Edytuj</button></td>
                        <td><button type="button" @onclick="@(() => DeleteScreeningRoom(screeningRoom.ScreeningRoomId))" class="btn btn-primary">Usuń</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <br />
    <button type="button" @onclick="OnClickAddScreeningRoom" class="btn btn-primary">Dodaj salę</button>

</div>>

@code 
{
    private List<ScreeningRoom> screeningRooms;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadScreeningRooms();
    }

    private void LoadScreeningRooms()
    {
        screeningRooms = ViewScreeningRoomsUseCase.Execute()?.ToList();
    }

    private void OnClickAddScreeningRoom()
    {
        NavigationManager.NavigateTo("/addscreeningroom");
    }

    private void EditScreeningRoom(ScreeningRoom screeningRoom)
    {
        NavigationManager.NavigateTo($"/editscreeningroom/{screeningRoom.ScreeningRoomId}");
    }

    private void DeleteScreeningRoom(int screeningRoomID)
    {
        DeleteScreeningRoomUseCase.Delete(screeningRoomID);
        LoadScreeningRooms();
    }
}
