@page "/showing/{showingId}"

@inject IViewScreeningRoomsUseCase ViewScreeningRoomsUseCase
@inject IViewMoviesUseCase ViewMoviesUseCase
@inject IGetShowingByIdUseCase GetShowingByIdUseCase
@inject IGetMovieByIdUseCase GetMovieByIdUseCase
@inject IGetScreeningRoomByIdUseCase GetScreeningRoomByIdUseCase

<div class="content">

    @if(showing != null)
    {
        <div class="row">
            <div class="col-5" style="vertical-align: bottom;">
                <h3>Seans @showing.ShowingId</h3>
                <p>
                    Sala: @screeningRoom.ScreeningRoomName
                    <br />
                    Film: @movie.Title (@movie.Year)
                    <br />
                    Data: @showing.Date.ToString("dd/MM/yyyy")
                    <br />
                    Godzina: @showing.Date.ToString("HH:mm")
                </p>
            </div>
            <div class="col" style="text-align: right;">
                <img src="@movie.ImageUrl" alt="@movie.Title" height=150>
            </div>
        </div>
        <br />
        <table class="screeningRoomTable">
            <tbody>
                @for (var i = 1; i <= @screeningRoom.RowCount ; i++)
                {
                    <tr class="screeningRoomRow">
                        @for (var j = 1; j <= @screeningRoom.ColumnCount; j++)
                        {
                            <td class="screeningRoomSeat"><div class="seat"></div></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <button type="button"  class="btn btn-primary">Zarezerwuj miejsce</button>
    }
    else
    {
        <h6>Przepraszamy, podany seans nie istnieje.</h6>
    }

</div>

@code 
{
    [Parameter]
    public string ShowingId { get; set; }

    private Showing showing;
    private ScreeningRoom screeningRoom;
    private Movie movie;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //showing = new Showing();

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if(int.TryParse(this.ShowingId, out int iShowingId))
        {
            var show = GetShowingByIdUseCase.Execute(iShowingId);
            if(show != null)
            {
                this.showing = new Showing
                {
                    ShowingId = show.ShowingId,
                    ScreeningRoomId = show.ScreeningRoomId,
                    MovieId = show.MovieId,
                    Date = show.Date,
                    TicketPrice = show.TicketPrice
                };
                var mov = GetMovieByIdUseCase.Execute(showing.MovieId);
                this.movie = new Movie
                {
                    MovieId = mov.MovieId,
                    Title = mov.Title,
                    Description = mov.Description,
                    Year = mov.Year,
                    Length = mov.Length,
                    AgeRestriction = mov.AgeRestriction,
                    ImageUrl = mov.ImageUrl
                };
                var scrRoom = GetScreeningRoomByIdUseCase.Execute(showing.ScreeningRoomId);
                this.screeningRoom = new ScreeningRoom
                {
                    ScreeningRoomId = scrRoom.ScreeningRoomId,
                    ScreeningRoomName = scrRoom.ScreeningRoomName,
                    ColumnCount = scrRoom.ColumnCount,
                    RowCount = scrRoom.RowCount
                };
            }
            
        }
    }

}
