@page "/ticket/{QRString}"

@inject IGetTicketByQRStringUseCase GetTicketByQRStringUseCase
@inject IGetReservationsByTicketUseCase GetReservationsByTicketUseCase
@inject IGetShowingByIdUseCase GetShowingByIdUseCase
@inject IGetMovieByIdUseCase GetMovieByIdUseCase
@inject IJSRuntime JSRuntime
@inject IConfirmReservationUseCase ConfirmReservationUseCase
@inject IIsTicketValidUseCase IsTicketValidUseCase

<TicketComponent Ticket="@ticket" Reservations="@reservations" Showing="@showing" 
Movie="@movie" TextColor="@textColor" BackgroundColor="@backgroundColor" Purchase="@purchase"></TicketComponent>

<div class="center">

    <AuthorizeView Policy="CashierOnly">
        <Authorized>
            @if (!purchase)
            {
                <button type="button" class="btn" @onclick="ConfirmPayment" 
                    disabled="@purchase">Zatwierdź płatność klienta</button>
                <br/>
                <br/>
            }
        </Authorized>
    </AuthorizeView>

    <button class="btn" @onclick="PrintReport" 
    >Drukuj bilet</button>
</div>


@code {
    [Parameter]
    public string QRString { get; set; }
    private Ticket ticket;
    private IEnumerable<Reservation> reservations;
    private Showing showing;
    private Movie movie;
    private string textColor = "white";
    private string backgroundColor = "#202020";
    private bool purchase = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        ticket = GetTicketByQRStringUseCase.Execute(QRString);
        if (ticket != null)
        {
            //jezeli dowolna rezerwacja wygasa przed seansem, nie zaplacono za bilet
            if (IsTicketValidUseCase.Execute(ticket)) purchase = true;
            else purchase = false;

            reservations = GetReservationsByTicketUseCase.Execute(ticket.ClientMail, ticket.TicketId);

            if (reservations != null)
            {
                showing = GetShowingByIdUseCase.Execute(reservations.FirstOrDefault().ShowingId);
                if (showing != null)
                {
                    movie = GetMovieByIdUseCase.Execute(showing.MovieId);
                }
            }
        }
    }

    private void ConfirmPayment()
    {
        ticket.PurchaseDate = DateTime.Now;
        foreach (Reservation r in reservations) ConfirmReservationUseCase.Execute(r, true);
        purchase = true;
    }

    private async Task PrintColors()
    {
        textColor = "black";
        backgroundColor = "white";
        await Task.Delay(100);
    }

    private async Task WebColors()
    {
        await Task.Delay(100);
        textColor = "white";
        backgroundColor = "#202020";
        StateHasChanged(); // make sure to update UI
    }

    private async void PrintReport()
    {
        await PrintColors();
        await JSRuntime.InvokeVoidAsync("print");
        await WebColors();
        
    }
}
