@page "/whatson"

@inject IGetShowingsByDayUseCase GetShowingsByDayUseCase
@inject IGetMovieByIdUseCase GetMovieByIdUseCase
@inject NavigationManager NavigationManager

<div class="content">
    <div class="text2" style="padding: 5px 25px 0px 45px">Repertuar</div>

    <div class="center">
        <button type="button" @onclick="@(() => PreviousDay())" class="btn">🡄</button>
        <span class="date">Dzień: @date.ToString("dd/MM/yyyy") (@date.DayOfWeek)</span>
        <button type="button" @onclick="@(() => NextDay())" class="btn">🡆</button>
    </div>
    
    <br />

    @if(movies.Count() != 0)
    {
        @foreach(var movie in movies)
        {
            <br />
            <div class="movie">
                <div class="row">
                    <div class="col-2" style="text-align: left;">
                        <img src="@movie.ImageUrl" alt="@movie.Title" height="150">
                    </div>
                    <div class="col">
                        <div class="row">
                            <span class="movie_title">@movie.Title</span>
                        </div>
                        <div class="row">
                             <span class="movie_desc">@movie.Description</span>
                        </div>
                    </div>
                    <div class="col-1" style="position: relative;">
                        <span class="vertical_center">
                            @if(movie.AgeRestriction <= 6)
                            {
                                <span class="age3_6">@(movie.AgeRestriction)+</span>
                            }
                            else if(movie.AgeRestriction >= 7 && movie.AgeRestriction <= 14)
                            {
                                <span class="age7_14">@(movie.AgeRestriction)+</span>
                            }
                            else if(movie.AgeRestriction >= 15 && movie.AgeRestriction <= 17)
                            {
                                <span class="age15_17">@(movie.AgeRestriction)+</span>
                            }
                            else
                            {
                                <span class="age18">@(movie.AgeRestriction)+</span>
                            }
                        </span>
                    </div>
                    <div class="col-2" style="position: relative;">
                        <span class="vertical_center">
                            <button type="button" class="btn" @onclick="@(() => ViewShowings(movie))">Seanse</button>
                        </span>
                    </div>
                </div>
            </div>
        
        }
    }
    else
    {
        <div class="center">
            <h6>Przepraszamy, tego dnia nie ma żadnych seansów.</h6>
        </div>
    }
    

</div>

@code 
{
    private List<Showing> showings;
    private List<Movie> movies;

    private DateTime date;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        date = DateTime.Today;

        LoadMovies();
    }

    private void LoadMovies()
    {
        showings = GetShowingsByDayUseCase.Execute(date)?.ToList();

        movies = new List<Movie>();

        foreach(var show in showings)
        {
            movies.Add(GetMovieByIdUseCase.Execute(show.MovieId));
        }

        movies = movies.Distinct().ToList();
    }

    private void NextDay()
    {
        date = date.AddDays(1);
        LoadMovies();
    }

    private void PreviousDay()
    {
        date = date.AddDays(-1);
        LoadMovies();
    }

    private void ViewShowings(Movie movie)
    {
         NavigationManager.NavigateTo($"/viewshowings/{movie.MovieId}");
    }
}
